<div class="h-full w-full">
  <router-outlet></router-outlet>
</div>

<!--<button type="button" class="tag" (click)="show$$.next(1)">1</button>-->
<!--<button type="button" class="tag" (click)="show$$.next(2)">2</button>-->

<!--<susp #susp>-->
<!--  <bar *ngIf="(show$$ | async) === 0">-->
<!--  </bar>-->
<!--  <foo *ngIf="(show$$ | async) === 1" [sleep]="1000">-->
<!--  </foo>-->
<!--  <foo *ngIf="(show$$ | async) === 2" [sleep]="2000">-->
<!--  </foo>-->
<!--  <foo *ngIf="(show$$ | async) === 2" [sleep]="3000">-->
<!--  </foo>-->

<!--  <ng-template suspLoading>-->
<!--    <div style="background-color: red; width: 500px; height: 500px">loading</div>-->
<!--  </ng-template>-->
<!--</susp>-->

<app-loading-states></app-loading-states>
